             .f1
            {
                background-color: blue;
            }
            #s1
            {
                background-color: aqua;
                font-family: 'Courier New', Courier, monospace;
            }
           